section.pre-buy
        table
            thead
                tr
                    th Game Name
                    th Card Price
                    th Number Players
            tbody
                tr
                    td My Game
                    td $5
                    td 13 
                tr
                    td Jackpot Gotta Give
                    td $2
                    td 65
                tr
                    td Freebie galore
                    td Free
                    td 106
                tr
                    td My Game
                    td $5
                    td 2
                tr
                    td Whole lotta love
                    td $10
                    td 30
                   